@import "../../assets/styles/variables";

.form {
  background-color: transparent;
  &__group {
    padding: 1rem 0;
  }

  &__label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 700;
  }

  &__input {
    height: 3rem;
    margin-bottom: 0.5rem;
    padding: 0.6rem 0.7rem;
    width: 100%;
    color: $color-secondary;
    border: 1px solid $color-primary;
    border-radius: $control-radius;
    &--textarea {
      min-height: 20rem;
    }
    &:focus {
      border-color: $color-blue;
      outline: 0;
    }
  }
}
