@import '../../assets/styles/variables';

.form {
  background-color: transparent;
  &__group {
    padding: 1rem 0;
  }

  &__label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 700;
  }

  &__input {
    height: 35px;
    margin-bottom: 0.5rem;
    padding: 0.375rem 0.75rem;
    border-radius: $borderRadius;
    background: $backgroundColor;
    border: 1px solid $grey-200;
    width: 100%;
    font-family: inherit;
    font-size: 100%;
    &--textarea {
      min-height: 9rem;
      padding: 0.375rem 0.75rem;
      border-radius: $borderRadius;
      background: $backgroundColor;
      border: 1px solid $grey-200;
    }
  }
}
