@import "../assets/styles/variables";

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: $control-radius;
  color: $color-initial;
  background-color: $color-secondary;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    outline: 0;
    opacity: 0.9;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;

    &:focus,
    &:hover {
      background-color: $color-secondary;
      border-color: $color-primary;
    }
  }
}
