@import "src/styles/variables";

.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: $color-primary;
  border: 0.2rem solid $color-primary;
  border-radius: $control-radius;
  color: $color-secondary;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:focus,
  &:hover {
    transition: opacity 0.5s;
    outline: 0;
    opacity: 0.9;
    color: $color-primary;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;

    &:focus,
    &:hover {
      background-color: $color-secondary;
      border-color: $color-primary;
    }
  }
}
