@import "../styles/variables";

.form-input {
  appearance: none;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: 0.6rem 0.7rem;
  width: 100%;
  color: $color-secondary;
  &:focus {
    border-color: $color-primary;
    outline: 0;
  }
}
