@import '../assets/styles/variables';

.Title {
  display: flex;
  justify-content: center;
}

.Title__text {
  font-size: 1.7rem;
  margin-bottom: 0;
  margin-top: 1rem;
  text-transform: uppercase;
}
