@import "../../assets/styles/variables";

.project {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  gap: 0 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    ". .";
}

.project-form {
  max-width: 32rem;
  margin: auto;
}


.operation {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid $color-grey;
}

.operation:hover {
  background-color: $color-grey;
}
