@import "assets/styles/variables";

.main {
  min-height: calc(100vh - 8.1rem);
  padding: 0 3%;
  background-color: $color-bg;
}

.container {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 1rem 0;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0;
}
