$color-initial: #ffffff;
$color-primary: rgba(0,0,0,.6);
$color-secondary: #227ecb;
$color-bg: #f4f6f9;
$color-bg-footer: #dee2e6ab;

$color-red: #dc3545;
$color-orange: #fd7e14;
$color-blue: #3295e8;
$color-green: #28a745;
$color-grey: #dee2e6;

$control-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.15);
$control-radius: 0.3rem;
